
    // Global Settings Object
    $container->add(
        'settings',
        function () {
            return [
                'displayErrorDetails' => true, // Should be set to false in production{logger_settings}
            ];
        }
    );
